<div class="user-dashboard-bg min-vh-100 py-5 px-3">
<div class="reservation-container d-flex justify-content-center align-items-center min-vh-100">
  <div class="reservation-card card p-4 shadow">
    <h4 class="form-label text-white text-center fw-bold mb-4" style="font-size: 1.8rem; letter-spacing: 1px;">Book your Room Here</h4>
    <form #reservationForm="ngForm" (ngSubmit)="createReservation()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label text-white">Check-In Date</label>
          <input type="date" class="form-control" [(ngModel)]="reservation.checkInDate"  name="checkInDate"  [min]="minDate" required>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label text-white">Check-Out Date</label>
          <input type="date" class="form-control" [(ngModel)]="reservation.checkOutDate"  name="checkOutDate"  [min]="minDate" required>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label text-white">Number of Adults</label>
          <input type="number" class="form-control" [(ngModel)]="reservation.numberOfAdults" name="numberOfAdults" required readonly>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label text-white">Number of Children</label>
          <input type="number" class="form-control" [(ngModel)]="reservation.numberOfChildren" name="numberOfChildren" required readonly>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label text-white">Hotel ID</label>
          <input type="number" class="form-control" [(ngModel)]="reservation.hotelId" name="hotelId" readonly>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label text-white">Room ID</label>
          <input type="number" class="form-control" [(ngModel)]="reservation.roomId" name="roomId" readonly>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label text-white">User ID</label>
          <input type="number" class="form-control" [(ngModel)]="reservation.userId" name="userId" readonly>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label text-white">Total Price</label>
          <input type="number" class="form-control" [(ngModel)]="reservation.totalPrice" name="totalFare" readonly>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label text-white">Status</label>
          <input type="text" class="form-control" [(ngModel)]="reservation.status" name="status" required readonly>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label text-white">Payment ID</label>
          <input type="number" class="form-control" [(ngModel)]="reservation.paymentId" name="paymentId" readonly>
        </div>
      </div>

      <div class="d-flex justify-content-center align-items-center mt-3">
        <button type="submit" class="btn btn-primary me-2" [disabled]="!reservation.paymentId" style="margin-right: 15px;">Confirm Reservation</button>
        <button type="button" class="btn btn-success me-2" routerLink="/dopayment" [queryParams]="{ totalFare: reservation.totalPrice }" style="margin-right: 15px;">Do Payment</button>
        <button class="btn btn-secondary" [routerLink]="['/view-rooms', reservation.hotelId]">Back</button>
      </div>
    </form>
  </div>
</div>
</div>