<div class="user-dashboard-bg">
<div class="text-white mt-4" >
      <h4 class="text-center mt-4 mb-4">All Registered Hotel Owners</h4>
       <div style="display: flex; justify-content: flex-end; padding: 20px 30px 0 0;">
      <button class="btn btn-outline-light" routerLink="/admindashboard">Back</button>
      </div>
      <div *ngIf="allOwnerList.length > 0" class="table-responsive"  >
        <table class="table table-bordered  table-striped text-white text-center" style="margin-top: 20px;">
          <thead class="table-dark">
            <tr>
              <th>Owner ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Address</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let owner of allOwnerList">
              <td>{{ owner.userId }}</td>
              <td>{{ owner.firstName }}</td>
              <td>{{ owner.lastName }}</td>
              <td>{{ owner.email }}</td>
              <td>{{ owner.contactNumber }}</td>
              <td>{{ owner.address }}</td>
              <td>{{ owner.role }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="deleteUserById(owner.userId)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>